<div id="sidebar" class="xl:rounded-r-2xl flex items-start h-screen max-h-screen min-h-screen fixed w-64 bg-water-leaf-100 dark:bg-water-leaf-950 flex-col font-comfortaa font-bold">
  <div class="xl:flex flex p-6 items-center space-x-6 drop-shadow-xl">
    <%- include ('./icons/logo') %><p class="text-6xl leading-10 text-water-leaf-700 font-economica tracking-tight">yoyo!</p>
  </div>
  <hr class="border-b border-solid border-water-leaf-600 w-[80%] ml-[10%] mt-8 mb-2" />
  <div class="mt-6 flex flex-col items-center pl-4 w-full space-y-3">
    <a href="/home" class="flex items-center space-x-6 w-full focus:outline-none hover:text-water-leaf-500 focus:text-water-leaf-500 rounded cursor-pointer">
      <%- include ('./icons/home') %>
      <p class="text-base leading-4">Home</p>
    </a>
    <a href="/build" class="flex items-center w-full space-x-6 focus:outline-none hover:text-water-leaf-500 focus:text-water-leaf-500 rounded cursor-pointer">
      <%- include ('./icons/rocket-launch') %>
      <p class="text-base leading-4">Build</p>
    </a>

    <a href="/faq" class="flex items-center w-full space-x-6 focus:outline-none hover:text-water-leaf-500 focus:text-water-leaf-500 rounded cursor-pointer">
      <%- include ('./icons/question-mark-circle') %>
      <p class="text-base leading-4">FAQ</p>
    </a>
  </div>
  <hr class="border-b border-solid border-water-leaf-600 w-[80%] ml-[10%] mt-8 mb-2" />
  <div class="mt-6 flex flex-col items-center pl-4 w-full space-y-3">
    <a href="/device" class="flex items-center w-full space-x-6 focus:outline-none hover:text-water-leaf-500 focus:text-water-leaf-500 rounded cursor-pointer">
      <%- include ('./icons/wrench-screwdriver') %>
      <p class="text-base leading-4">My Device</p>
    </a>
  </div>
  <hr class="border-b border-solid border-water-leaf-600 w-[80%] ml-[10%] mt-8 mb-2" />
  <div class="mt-6 flex flex-col items-center pl-4 w-full space-y-3">
    <a href="/stats" class="flex items-center space-x-6 w-full focus:outline-none hover:text-water-leaf-500 focus:text-water-leaf-500  rounded cursor-pointer">
      <%- include ('./icons/chart-bar-square') %>
      <p class="text-base leading-4">Stats</p>
    </a>
    <a href="/privacy" class="flex items-center w-full space-x-6 focus:outline-none hover:text-water-leaf-500 focus:text-water-leaf-500 rounded cursor-pointer">
      <%- include ('./icons/finger-print') %>
      <p class="text-base leading-4">Privacy Policy</p>
    </a>
  </div>
  <hr class="border-b border-solid border-water-leaf-600 w-[80%] ml-[10%] mt-8 mb-2" />
  <div class="mt-6 flex flex-col items-center pl-4 w-full space-y-3">
    <a href="/about" class="flex items-center w-full space-x-6 focus:outline-none hover:text-water-leaf-500 focus:text-water-leaf-500 rounded cursor-pointer">
      <%- include ('./icons/information-circle') %>
      <p class="text-base leading-4">About</p>
    </a>
  </div>
</div>