<%- include('./partials/page_start', {title: "ðŸ› ï¸My Device", page_title: "My Device"}) %>
<%- include('./partials/javascript-required') %>

<p>To use this site you need to know your Yo-Yo number. The only way to access that number is to write it down during the initial setup!</p>

<div class="flex items-center justify-center h-4/5 flex-col gap-5 space-y-2 bg-water-leaf-200 rounded-xl">
  <form action="/device" method="POST" class="space-x-1 space-y-3 bg-water-leaf-100 dark:bg-water-leaf-900 p-10 rounded-xl">
    <%- error ? '<p class="text-red-white font-bold bg-red-800 text-white w-max p-2">' + error + '</p>' : '' %>
    <label for="yymn" class="font-bold block">Yo-Yo Number</label>
    <input type="text" name="yymn" id="yymn" placeholder="1234567890" required class="block w-max input input-bordered" pattern="[0-9]{10}" title="Please enter exactly 10 numbers">
    <button type="login" class="btn font-semibold text-white bg-water-leaf-600 hover:bg-water-leaf-400 focus:bg-water-leaf-400"><%- include('./partials/icons/user-circle') %> Login</button>
  </form>
  <button type="connection" onclick="testConnection()" class="btn font-semibold text-white bg-indigo-600 hover:bg-indigo-400 focus:bg-indigo-400"><%- include ('./partials/icons/question-mark-circle') %> Test Connection</button>
</div>

<div class="toast toast-top toast-center">
  <div class="alert alert-error hidden" id="connectfail">
    <%- include('./partials/icons/question-mark-circle') %>
    <span>Sending light failed: </span>
  </div>
  <div class="alert alert-warning hidden" id="connectwarn">
    <%- include('./partials/icons/wrench-screwdriver') %>
    <span>Light sent successfully.</span>
  </div>
  <div class="alert alert-success hidden" id="connectsuccess">
    <%- include('./partials/icons/check') %>
    <span>Yo-Yo Machine is connected to the server!</span>
  </div>
</div>

<script>
  document.getElementById('yymn').focus();

  function testConnection() {
    let yymn = document.getElementById('yymn').value;
    if (yymn.length != 10) {
      document.querySelector("#connectfail").children[1].innerHTML = "Error: Please enter a valid Yo-Yo number!"
      document.querySelector("#connectfail").classList.remove("hidden");
      setTimeout(() => {
        document.querySelector("#connectfail").classList.add("hidden");
      }, 3000);
      return;
    }
    fetch('/device/connection?yoyo=' + yymn, {
        method: 'GET'
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          document.querySelector("#connectsuccess").classList.remove("hidden");
          setTimeout(() => {
            document.querySelector("#connectsuccess").classList.add("hidden");
          }, 3000);
        } else if (data.warning) {
          document.querySelector("#connectwarn").children[1].innerHTML = "Warning: " + data.warning;
          document.querySelector("#connectwarn").classList.remove("hidden");
          setTimeout(() => {
            document.querySelector("#connectwarn").classList.add("hidden");
          }, 3000);

        } else {
          document.querySelector("#connectfail").children[1].innerHTML = "Error: " + data.error;
          document.querySelector("#connectfail").classList.remove("hidden");
          setTimeout(() => {
            document.querySelector("#connectfail").classList.add("hidden");
          }, 3000);
        }
      });
  }
</script>

<%- include('./partials/debug', {id: 'yymn'}) %>
<%- include('./partials/page_end') %>