<%- include('./partials/page_start-simplemde', {title:"ðŸ› ï¸My Device - Control Panel", page_title:"My Device"}) %>
<%- include('./partials/javascript-required') %>

<p>Here you can edit the image, the notes and send links to your Yo-Yo machine. Additionally you can create links to send lights or share this page as read-only. We recommend to bookmark this page, so you won't have to login again.</p>
<div id="main" class="flex flex-col gap-5 space-y-1 bg-water-leaf-200 rounded-xl p-5 dark:bg-water-leaf-900">

  <%# Name %>
  <div class="static flex items-center">
    <h2 class="text-3xl static inline"><%= name %></h2>
    <button type="editName" class="hover:text-water-leaf-100 inline-block pl-2" onclick="activateName()"><%- include('./partials/icons/pencil-square') %></button>
  </div>

  <%# Device Info %>
  <div class="text-1xl">
    <p>Status: <%= status %></p>
    <p>
      Yo-Yo Number: <%= yoyo %>
      <input value="<%= yoyo %>" disabled class="hidden">
      <button type="copy" class="hover:text-water-leaf-100 tooltip-open" data-tip="Copied!"><%- include('./partials/icons/clipboard-copy') %></button>
    </p>
    <div>
      <label class="py-2 font-semibold" for="override">Override Targets
        <span class="tooltip" data-tip="If you want to redirect the Signal to other Yo-Yo Machines, enter their Yo-Yo Numbers here, seperated by commas. E.g. '1234567890,0987654321'. If empty, it will send to the Yo-Yo Machine your Yo-Yo Machine has saved.">
          <%- include('./partials/icons/information-circle') %>
        </span>:
      </label>
      <input id="override" class="input input-bordered input-sm" placeholder="Empty - will send to default target" value="<%=override%>" size=30>
      <button type="override" class="hover:text-water-leaf-100 inline-block pl-2" onclick="updateOverride()"><%- include ('./partials/icons/check') %></button>
    </div>
  </div>


  <%# Image & Notes %>
  <div class="flex flex-row gap-2 w-full">
    <div class="w-1/2 max-w-[50%]">
      <img src="<%= image %>" alt="Yo-Yo Image" class="rounded-xl w-full max-h-full" id="photo">
    </div>
    <div class="w-1/2">
      <article class="prose dark:prose-invert rounded-md">
        <textarea class="textarea textarea-bordered" placeholder="You can write notes about your Yo-Yo machine here! For example, you can write down, which color means what to you. This even supports **markdown!**" id="editor"></textarea>
      </article>
    </div>
  </div>


  <%# Buttons %>
  <div class="flex flex-row gap-2">
    <button type="light" class="btn font-semibold text-white bg-yellow-600 hover:bg-yellow-400 focus:bg-yellow-400" onclick="this.blur(); sendLight('yes')"><%- include('./partials/icons/light-bulb') %> Send Light</button>
    <button type="rainbow" class="btn font-semibold text-white bg-red-600 hover:bg-yellow-400 focus:bg-green-400" onclick="this.blur(); sendLight('rainbow')"><%- include('./partials/icons/star') %> Send Rainbow</button>
    <div class="border-r border-water-leaf-900 gap-4"></div>
    <button type="saveImage" class="btn font-semibold text-white bg-cyan-600 hover:bg-cyan-400 focus:bg-cyan-400" onclick="this.blur(); imageUpload.showModal()"><%- include('./partials/icons/camera') %> Upload new Image</button>
    <button type="saveNote" class="btn font-semibold text-white bg-cyan-600 hover:bg-cyan-400 focus:bg-cyan-400" onclick="this.blur(); saveNote()"><%- include('./partials/icons/check') %> Save Note</button>
    <div class="border-r border-water-leaf-900 gap-4"></div>
    <button type="showLinks" class="btn font-semibold text-white bg-water-leaf-600 hover:bg-water-leaf-400 focus:bg-water-leaf-400" onclick="this.blur()"><%- include('./partials/icons/eye') %> Show Links</button>
  </div>

  <%# LINKS, default hidden %>
  <div id="links" class="flex flex-col gap-2 hidden">
    <div class="flex flex-col gap-2 px-2">
      <label class="py-2 font-semibold" for="light-link">Light-Link
        <span class="tooltip" data-tip="With this link you can send a light directly to your Yo-Yo machine. You can also append a hue like '&hue=127'. Values from 0 to 255 are possible. You can also use '&hue=rainbow'.">
          <%- include('./partials/icons/information-circle') %>
        </span>
      </label>
      <div class="flex flex-row items-center gap-2">
        <input type="text" id="light-link" class="input input-bordered w-full input-sm bg-gray-200 dark:bg-gray-600" value="<%= host %>/device/light?id=<%= token_send %>" readonly>
        <button type="copy" class="hover:text-water-leaf-100 tooltip-open" data-tip="Copied!"><%- include('./partials/icons/clipboard-copy') %></button>
      </div>
    </div>
    <div class="flex flex-col gap-2 px-2">
      <label class="py-2 font-semibold" for="view-link">View-Link
        <span class="tooltip" data-tip="With this link you can share a read-only version of this page, to share your notes or Yo-Yo machine.">
          <%- include('./partials/icons/information-circle') %>
        </span>
      </label>
      <div class="flex flex-row items-center gap-2">
        <input type="text" id="view-link" class="input input-bordered w-full input-sm bg-gray-200 dark:bg-gray-600" value="<%= host %>/device/view?id=<%= token_view %>" readonly>
        <button type="copy" class="hover:text-water-leaf-100 tooltip-open" data-tip="Copied!"><%- include('./partials/icons/clipboard-copy') %></button>
      </div>
    </div>
  </div>

  <dialog id="imageUpload" class="modal">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">âœ•</button>
      </form>
      <h3 class="font-bold text-lg">Image Upload</h3>
      <p class="py-4">Please select an image you would like to upload. (Allowed filetypes: jpg, png, gif, webp)</p>
      <form id="form_image" enctype="multipart/form-data">
        <input type="file" name="image" id="input_image" class="file-input file-input-bordered w-full max-w-xs" />
        <button type="button" id="btn_image" class="btn btn-sm btn-primary mt-2" onclick="uploadImage();">Upload</button>
      </form>
    </div>
  </dialog>

  <div class="toast toast-top toast-center">
    <div class="alert alert-error hidden" id="msgfail">
      <%- include('./partials/icons/question-mark-circle') %>
      <span>Sending light failed: </span>
    </div>
    <div class="alert alert-success hidden" id="msgsuc">
      <%- include('./partials/icons/light-bulb') %>
      <span>Light sent successfully.</span>
    </div>
    <div class="alert alert-success hidden" id="imgsuc">
      <%- include('./partials/icons/camera') %>
      <span>Image uploaded successfully.</span>
    </div>
    <div class="alert alert-success hidden" id="notesuc">
      <%- include('./partials/icons/check') %>
      <span>Note saved successfully.</span>
    </div>
    <div class="alert alert-success hidden" id="namesuc">
      <%- include('./partials/icons/pencil-square') %>
      <span>Name saved successfully.</span>
    </div>
    <div class="alert alert-success hidden" id="overridesuc">
      <%- include('./partials/icons/wrench-screwdriver') %>
      <span>Override saved successfully.</span>
    </div>
  </div>

  <script>
    const easyMDE = new EasyMDE({
      autoDownloadFontAwesome: false,
      autofocus: false,
      element: document.getElementById('editor'),
      lineNumbers: false,
      spellChecker: false,
      status: false,
    });
    easyMDE.value(`<%= note %>`)
  </script>

  <script>
    //toggle visibility of links
    const eye = `<%- include("./partials/icons/eye") %>`;
    const eyeSlash = `<%- include("./partials/icons/eye-slash") %>`;
    document.querySelector("button[type='showLinks']").addEventListener("click", function() {
      document.querySelector("#links").classList.toggle("hidden");
      // change button text
      if (document.querySelector("#links").classList.contains("hidden")) {
        document.querySelector("button[type='showLinks']").innerHTML = `${eye} Show Links`;;
        document.querySelector("#main").scrollIntoView({
          behavior: "smooth"
        });
      } else {
        document.querySelector("button[type='showLinks']").innerHTML = `${eyeSlash} Hide Links`;;
        document.querySelector("#links").scrollIntoView({
          behavior: "smooth"
        });
      }
    });

    //image upload
    function uploadImage() {
      document.querySelector("#btn_image").classList.add("loading", "loading-spinner", "loading-md");
      const formData = new FormData(document.getElementById('form_image'));
      fetch('/device/upload?token=<%=token%>', {
          method: 'POST',
          body: formData,
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            document.querySelector("#photo").src = data.image;
            document.querySelector("#imgsuc").classList.remove("hidden");
            setTimeout(() => {
              document.querySelector("#imgsuc").classList.add("hidden");
            }, 3000);
            imageUpload.close();
            document.querySelector("#btn_image").classList.remove("loading", "loading-spinner", "loading-md");
          } else {
            document.querySelector("#msgfail").children[1].innerHTML = "Uploading image failed: " + data.error;
            document.querySelector("#msgfail").classList.remove("hidden");
            setTimeout(() => {
              document.querySelector("#msgfail").classList.add("hidden");
            }, 3000);
            document.querySelector("#btn_image").classList.remove("loading", "loading-spinner", "loading-md");
          }
        })
    }

    // update override
    function updateOverride() {
      const override = document.querySelector("#override").value;
      fetch('/device/update?token=<%=token%>&field=override', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            value: override
          }),
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            document.querySelector("#overridesuc").classList.remove("hidden");
            setTimeout(() => {
              document.querySelector("#overridesuc").classList.add("hidden");
            }, 3000);
          } else {
            document.querySelector("#msgfail").children[1].innerHTML = "Saving override failed: " + data.error;
            document.querySelector("#msgfail").classList.remove("hidden");
            setTimeout(() => {
              document.querySelector("#msgfail").classList.add("hidden");
            }, 3000);
          }
        });

    }

    //light button
    function sendLight(hue) {
      if (hue === "yes") {
        hue = Math.floor(Math.random() * 256);
      }
      fetch("/device/light?id=<%= token_send %>&hue=" + hue)
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            document.querySelector("#msgsuc").classList.remove("hidden");
            setTimeout(() => {
              document.querySelector("#msgsuc").classList.add("hidden");
            }, 3000);
          } else {
            document.querySelector("#msgfail").children[1].innerHTML = "Sending light failed: " + data.error;
            document.querySelector("#msgfail").classList.remove("hidden");
            setTimeout(() => {
              document.querySelector("#msgfail").classList.add("hidden");
            }, 3000);
          }
        });
    }

    // edit name button
    let original_name = document.querySelector("h2").innerHTML;

    function activateName() {
      const name = document.querySelector("h2").innerHTML;
      document.querySelector("h2").innerHTML = `<input type="text" class="input input-bordered" size="${Math.max(30, name.length)}" value="${name}">`;
      document.querySelector("button[type='editName']").innerHTML = `<%- include('./partials/icons/check') %>`;
      document.querySelector("button[type='editName']").setAttribute("onclick", "saveName();");
    }

    function saveName() {
      const name = document.querySelector("h2 input").value;
      fetch('/device/update?token=<%=token%>&field=name', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            value: name
          }),
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            document.querySelector("h2").innerHTML = name;
            document.querySelector("#namesuc").classList.remove("hidden");
            setTimeout(() => {
              document.querySelector("#namesuc").classList.add("hidden");
            }, 3000);
            document.querySelector("button[type='editName']").innerHTML = `<%- include('./partials/icons/pencil-square') %>`;
            document.querySelector("button[type='editName']").setAttribute("onclick", "activateName();");
            original_name = name;
          } else {
            document.querySelector("h2").innerHTML = original_name;
            document.querySelector("#msgfail").children[1].innerHTML = "Saving name failed: " + data.error;
            document.querySelector("button[type='editName']").innerHTML = `<%- include('./partials/icons/pencil-square') %>`;
            document.querySelector("button[type='editName']").setAttribute("onclick", "activateName();");
            document.querySelector("#msgfail").classList.remove("hidden");
            setTimeout(() => {
              document.querySelector("#msgfail").classList.add("hidden");
            }, 3000);
          }
        });

    }

    // save note button
    function saveNote() {
      const note = easyMDE.value();
      fetch('/device/update?token=<%=token%>&field=note', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            value: note
          }),
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            document.querySelector("#notesuc").classList.remove("hidden");
            setTimeout(() => {
              document.querySelector("#notesuc").classList.add("hidden");
            }, 3000);
          } else {
            document.querySelector("#msgfail").children[1].innerHTML = "Saving note failed: " + data.error;
            document.querySelector("#msgfail").classList.remove("hidden");
            setTimeout(() => {
              document.querySelector("#msgfail").classList.add("hidden");
            }, 3000);
          }
        });
    }


    //copy to clipboard button
    const copy = `<%- include("./partials/icons/clipboard-copy") %>`;
    document.querySelectorAll("button[type='copy']").forEach((button) => {
      button.addEventListener("click", function() {
        const input = this.parentElement.querySelector("input");
        input.select();
        input.setSelectionRange(0, 99999); /*For mobile devices*/
        document.execCommand("copy");
        navigator.clipboard.writeText(input.value);
        this.classList.toggle("tooltip");
        setTimeout(() => {
          this.classList.toggle("tooltip");
        }, 1000);
      });
    });
  </script>

  <%- include('./partials/debug', {id: 'override'}) %>
  <%- include('./partials/page_end') %>