<%- include('./partials/page_start', {title: "ðŸ Home", page_title: "Welcome!"}) %>

<div class="fixed h-1/3 w-1/3 bottom-1/3 right-0 -z-10 p-4 fill-water-leaf-50 dark:fill-water-leaf-950">
  <%- include('./partials/icons/circuitry') %>
</div>

<p>Have you heard about Yo-Yo Machines? They're super cool communication devices that you can actually make yourself. The best part is, they let you send all kinds of fun signals like lights, sounds, or even simple mechanical movements. It's like a whole new way to chat without actually talking!</p>

<p>If you want more information on this awesome invention, check out yoyomachines.io. And guess what?</p>

<p>This page right here is an extension of that amazingness. It's got some really useful stuff to help you out:</p>

<ul class="m-5 space-y-1">
  <li>â‘  We've got a guide to <a href="/build" class="font-bold hover:text-water-leaf-500 focus:text-water-leaf-500"><%- include('./partials/icons/rocket-launch') %> building your very own Yo-Yo Machine</a>. Trust us, it's not as hard as it sounds!</li>
  <li>â‘¡ There's also a handy <a href="/faq" class="font-bold hover:text-water-leaf-500 focus:text-water-leaf-500"><%- include('./partials/icons/question-mark-circle') %>FAQ section</a> where you can find answers to all your burning questions.</li>
  <li>â‘¢ Oh, and you can even <a href="/device" class="font-bold hover:text-water-leaf-500 focus:text-water-leaf-500"><%- include('./partials/icons/wrench-screwdriver') %>test your device here</a>. Yea, that's right! You can send some funky lights to your machine and enjoy other fun things.</li>
  <li>â‘£ Curious about how many other Yo-Yo Machines are connected to our server? We've got you covered on our <a href="/stats" class="font-bold hover:text-water-leaf-500 focus:text-water-leaf-500"><%- include('./partials/icons/chart-bar-square') %>stats page!</a></li>
  <li>â‘¤ Wanna dig into the nitty-gritty details? You can find out what <a href="/privacy" class="font-bold hover:text-water-leaf-500 focus:text-water-leaf-500"><%- include('./partials/icons/finger-print') %>data we process and where it goes</a>.</li>
  <li>â‘¥ And lastly, if you want to <a href="/about" class="font-bold hover:text-water-leaf-500 focus:text-water-leaf-500"><%- include('./partials/icons/information-circle') %>know more about this little project</a>, we've got some juicy info for you.</li>
</ul>

<p>So go ahead and explore. Get ready to have a blast with your very own Yo-Yo Machine!</p>

<%- include('./partials/page_end') %>