<%- include('./partials/page_start', {title: "📈Stats", page_title: "Statistics & Numbers"}) %>
<%- include('./partials/javascript-required') %>

<div class="grid grid-cols-1 gap-1">
  <div class="stats stats-vertical lg:stats-horizontal shadow">
    <div class="stat">
      <div class="stat-title">Currently online</div>
      <div class="stat-value" id="online">Counting...</div>
      <div class="stat-figure tooltip tooltip-left lg:tooltip-right" data-tip="How many users are connected to the server"><%- include('./partials/icons/user') %></div>
    </div>

    <div class="stat">
      <div class="stat-title">Users</div>
      <div class="stat-value" id="users">Counting...</div>
      <div class="stat-figure tooltip tooltip-left lg:tooltip-right" data-tip="Total of users which have been connected to this server"><%- include('./partials/icons/users') %></div>
    </div>

    <div class="stat">
      <div class="stat-title">Downloads</div>
      <div class="stat-value" id="downloads">Counting...</div>
      <div class="stat-figure tooltip tooltip-left" data-tip="How often the Lighttouch project has been downloaded from Github"><%- include('./partials/icons/arrow-down-tray') %></div>
    </div>

    <div class="stat">
      <div class="stat-title" id="signals">Lights sent</div>
      <div class="stat-value"><%- messages_sent %></div>
      <div class="stat-figure tooltip tooltip-left" data-tip="How many lights have been sent with this server"><%- include('./partials/icons/light-bulb') %></div>
    </div>
  </div>

  <div class="stats stats-vertical lg:stats-horizontal shadow">
    <div class="stat">
      <div class="stat-title">View-Links viewed</div>
      <div class="stat-value"><%= notes_viewed %></div>
      <div class="stat-figure tooltip tooltip-left lg:tooltip-right" data-tip="How often view links have been opened"><%- include('./partials/icons/share') %></div>
    </div>

    <div class="stat">
      <div class="stat-title">Images uploaded</div>
      <div class="stat-value"><%= images_uploaded %></div>
      <div class="stat-figure tooltip tooltip-left lg:tooltip-right" data-tip="How often images have been replaced"><%- include('./partials/icons/camera') %></div>
    </div>

    <div class="stat">
      <div class="stat-title">Notes saved</div>
      <div class="stat-value"><%- note_updated %></div>
      <div class="stat-figure tooltip tooltip-left" data-tip="How often notes have been overwritten"><%- include('./partials/icons/pencil-square') %></div>
    </div>

    <div class="stat">
      <div class="stat-title">Devices renamed</div>
      <div class="stat-value"><%- name_updated %></div>
      <div class="stat-figure tooltip tooltip-left" data-tip="How often devices have been renamed"><%- include('./partials/icons/arrows-pointing-out') %></div>
    </div>
  </div>
</div>



<script>
  //fetch /stats_api/now as json and replace the numbers above
  function fetchNumbers() {
    fetch("/stats_api/now")
      .then(response => response.json())
      .then(data => {
        //console.log(data);
        document.querySelector("#online").innerHTML = data.usersOnline;
        document.querySelector("#users").innerHTML = data.users;
        document.querySelector("#downloads").innerHTML = data.downloads.find(item => item.name === "Light Touch").download_count;
      });
  }

  document.addEventListener("DOMContentLoaded", function() {
    //console.log("DOM loaded and parsed");
    fetchNumbers();
  });

  //update numbers every 10 seconds
  //on second thought, lets not do that, as there is a rather strict ratelimit on Github API
  //setInterval(fetchNumbers, 10000);
</script>

<%- include('./partials/page_end') %>